Tests/Procedure.XUnitTest/obj/
Tests/Test.DbRepository/obj/
EntityFrameworkCore.Procedure/obj/
Tests/Procedure.XUnitTest/bin/
EntityFrameworkCore.Procedure/bin/
.vs/
Tests/Test.DbRepository/bin/Debug/netstandard2.0/EntityFrameworkCore.Procedure.dll
Tests/Test.DbRepository/bin/
Test.SQLDatabase/obj/
Test.SQLDatabase/Import Schema Logs/
Test.SQLDatabase/Test.SQLDatabase.dbmdl
Test.SQLDatabase/bin/Debug/Test.SQLDatabase.dll
Test.SQLDatabase/bin/
